<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.business.client.service.mapper.AddClientMapper">

    <insert id="addClient">
        INSERT INTO CLIENTS (NAME, SURNAME, PHONE, ADDRESS, ID_TYPE_CLIENT)
        VALUES (#{request.name}, #{request.surname}, #{request.phone}, #{request.address}, #{request.typeClient})
    </insert>

</mapper>