<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.business.client.service.mapper.DeleteClientMapper">

    <update id="deleteClient" statementType="CALLABLE">
      {
        #{dto.result, mode=OUT, jdbcType=INTEGER} = call
        F_DELETE_CLIENT
        (#{dto.id, mode=IN, jdbcType=NUMERIC},
        #{dto.errorMessage, mode=OUT, jdbcType=VARCHAR})
      }
    </update>

</mapper>